af|dvt-pivotTable.PivotTables::corner {
    background-color: Fuchsia !important;
    color: Blue;
    display: block;
    visibility: visible !important;
}

af|dvt-pivotTable.PivotTables::row-header-cell {
    min-width: 100px;
    max-width: 100px;
}

af|inputText.InputTextStyle {
    background-color: Lime !important;
}
af|panelGroupLayout.PanelLabels {
    position: relative;
    top: 18px; 
    z-index: 1000;
    display: none;
    overflow: hidden;
}
af|outputLabel.LabelStyle {
    display: block;
    min-width: 100px;
    max-width: 100px;
    text-align: left;
    border-left: 1px solid black;
    z-index: 1000;
}

af|panelGroupLayout.PanelGroupLayouts {
    height: 400px !important;
}